*{
    margin: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header, #Hero, #information, #quote, #call, footer{
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 70px;
    padding-bottom: 70px;
}

#main, footer{
    background-color: #1F2937;
}

header{
    justify-content: space-between;
    padding-top: 10px;
}

.headertext, .links a{
    text-decoration: none;
    color: #F9FAF8;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.links{
    gap: 100px;
}

.headertext{
    font-weight: 700;
    font-size: 24px;
}

#Hero{
    gap: 50px;
    padding-top: 30px;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.HeroMain{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    flex: 1;
}

.HeroSecondary{
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
}

.placeholder{
    width: 400px;
    height: 200px;
    flex-shrink: 0;
}

.button{
    color: #F9FAF8;
    background-color: #3882F6;
    margin-top: 10px;
    width: 100px;
    padding: 8px;
    border-radius: 10px;
    border-style: none;
}

#information{
    display: block;
    background-color: #ffffff;
}

#infotext{
    color: #1F2937;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.infobox{
    display: flex;
}

.content{
    flex: 1;
    text-align: center;
    justify-items: center;
}

.box{
    width: 150px;
    height: 150px;
    border: 3px #3882F6 solid;
    border-radius: 10%;
}

#quote{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: left;
}

.quotetext,
.quoteauthor{
    padding-left: 50px;
    padding-right: 50px;
    color: #1F2937;
}

.quotetext{
    font-size: 36px;
    font-style: italic;
}

.quoteauthor{
    font-weight: 700;
}

.quoteauthor{
    align-self: self-end;
}

#call{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}

#callbox{
    display: flex;
    width: 100%;
    height: 50px;
    padding: 40px;
    background-color: #3882F6;
    border-radius: 5px;
    justify-content: space-between;
    border-style: none;
}

#callbox p{
    color: #ffffff;
}

#callbox .button{
    border: 2px solid #ffffff;
}

footer{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    justify-content: center;
    color: white;
}